body {
    background:#ecf0f1;
    font-family: Helvetica;
    font-size: 1em;
    padding:0;
    margin: 0;
}

h1, h2 {
    font-weight: 400;
}

input[type=text] {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding:5px;
}
input[type=file] {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input[type=file] + label,
input[type=submit] {
    font-size: 1.25em;
    color: #000;
    cursor: pointer;
    background-color: #bdc3c7;
    display: inline-block;
    padding:10px;
    box-shadow: #888 2px 2px 0px;
    border:0;
}
#class-name {
    font-size: 30px;
}
.header {
    height:100px;
    padding:10px;
    background-color: #3498db;
    color:#fff;
    text-align: center;
}
.uploads {
    padding:10px;
    margin:0 auto;
    width:50%;
}
.footer {
    background-color: #3498db;
    height:100px;
    position: absolute;
    bottom:0;
}